#MySnakeZoo {
margin-top: 25px;
}
.container {
    background-color: bisque;
    display: block;
    width: 60%;
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    font-family: fantasy, copperplate;
    background-image: url("img/Snake-Background.png");
    background-size: cover;
    padding-bottom: 20px;
}
    .container {
        background-color: bisque;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-basis: 50%;
        padding: 10px;      
      }

      .row:nth-child(2n+1) {
        clear: both;
      }
      
      .col {
        flex-basis: 100%;
        text-align: center;
        padding: 20px;
      }
      
      img {
        width: 100%;
        height: auto;
        max-width: 300px;
        max-height: 200px;
      }

      nav {
        width: 200px;
        background-color: #d2b48c;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        padding: 20px;
      }

      li a {
        color: black;
      }    

      footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background: #d2b48c;
        text-align: right;
        margin-right: 200px;
        padding: 20px;
        height: 50px;
      }
    
      footer a{
        color: black;
      }
    
      .footer-links{
        margin-top: 0px;
      }
    